@model Web.ServiceReference.User

@{
    ViewBag.Title = "SignedUpEvents";
    Layout = "~/Views/Shared/_Layout-MainPage.cshtml";
}

<div class="container">
    <div class="row">

    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>
                        Begivenhed
                    </th>
                    <th>
                        Sted
                    </th>
                    <th>
                        Dato
                    </th>
                    <th>
                        Tid
                    </th>
                    <th>
                    </th>
                </tr>
                @if (Model.Registrations != null)
            {

                foreach (var item in Model.Registrations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Datetime.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Datetime.TimeOfDay)
                        </td>
                        <td>
                            @Html.ActionLink("Mere Info", "Details", "Event", item.Event.Id, new { @class = "btn btm-default" })
                        </td>
                    </tr>
            }
        }
            </table>
        </div>

        <div id="navigation-btns" class="">
            <div class="col-md-3 col-md-offset-3">
                @Html.ActionLink("Rediger Brugeroplysninger", "Edit", "User", "", new { @class = "btn btn-default", style="width:100%" })

            </div>
            <div class="col-md-offset-3 col-md-3">
                @Html.ActionLink("Opret ny begivenhed", "Create", "Event", "", new { @class = "btn btn-default", style = "width:100%" })
                @*Todo find out why its wierd*@
            </div>

            <div class="col-md-offset-9 col-md-3">
                @Html.ActionLink("Indtast invitationskode", "InvitationString", "Event", "", new { @class = "btn btn-default", style = "width:100%" })


            </div>

        </div>

        @*<div class="col-md-2 col-md-offset-5">Næste forekommende begivenhed:</div>*@
    </div>
</div>
