@using Web.ServiceReference;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Tilmeldte", "SignedUpEvents", "MainPage")</li>
                    <li>@Html.ActionLink("Offentlige", "PublicEvents", "MainPage")</li>
                    <li>@Html.ActionLink("Oprettede", "CreatedEvents", "MainPage")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (Session["LoggedIn"] == null)
                    {
                        <li>@Html.ActionLink("Log Ind", "LogIn", "User")</li>
                    }
                    else
                    {
                        <li class="navbar-text">Velkommen <span>@(((User)Session["User"]).Firstname)</span></li>
                        <li>@Html.ActionLink("Log Ud", "LogIn", "User")</li>

                        //Husk at give et link til detaljer side for brugeren
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
